// Variables
$primary-color: #333;

@import "mixins";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(10px);
  color: $primary-color;

  .nested {
    display: none;
  }
}

@function calculate-width($n) {
  @return $n * 100px;
}
