@import "./base.css";
@import "./theme";
@import "./missing.css";
@import "./print.css" print;
@value brand from "./tokens.css";

.button {
  composes: utility from "./composed.css";
}

.container {
  display: flex;
}

.hero {
  background-image: url("cdn-bg");
}
